* {
  word-wrap: break-word;
  word-break: break-all;
}

/*
 * https://github.com/igordanchenko/yet-another-react-lightbox style bug:
 * when both captions and counter plugins are used, captions overlay with counters
 */
.yarl__slide_title {
  padding-left: 40px;
}

.yarl__hide-controls .yarl__thumbnails_track,
.yarl__hide-controls .yarl__counter,
.yarl__hide-controls .yarl__slide_captions_container,
.yarl__hide-controls .yarl__navigation_prev,
.yarl__hide-controls .yarl__navigation_next,
.yarl__hide-controls .yarl__toolbar {
  visibility: hidden;
}

:root {
  --yarl__color_button_active: #f38020;
  /* default is 9999, which is higher then material ui dialog */
  --yarl__portal_zindex: 1000;
}

.file-album-item {
  cursor: pointer;
}

.file-album-item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.file-album-item.selected {
  border: 2px dashed black;
}

.file-album-item:not(.selected) {
  border: 2px dashed transparent;
}

.file-album-item-title {
  text-align: center;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
